@media (max-width: 480px) {
	.container {
		width: 90vw;
		min-width: 320px;
		margin: 0 auto;
		padding: 0;
	}
	.header {
		width: 100vw;
		height: 290px;
		position: relative;
		min-width: 480px;
	}
	.logo {
		width: 89vw;
	}

	.logo__img {
    margin-top: 40px;
    margin-left: 50px;
	}
	.logo__text {
		margin-left: 24px;
		margin-top: 15px;
		font-size: 26px;
		text-transform: uppercase;
	}
	.header__content {
		width: 0;
		height: 0;
		border: 0;
	}
	.header__info {
		width: 220px;
		background: transparent;
		margin: 0;
	}
	.header__contacts {
		width: 230px;
		margin-left: 35vw;
		display: block;
		position: absolute;
		top: 46px;
	}
	.header__email {
		display: block;
		position: absolute;
		top: 31px;
		right: 94px;
	}
	.header__phone {
		display: block;
		position: absolute;
		top: 6px;
		right: 72px;
	}
	.header__title {
		margin-left: 35vw;
		font-size: 22px;
		position: absolute;
		top: 116px;
		right: 60px;
		line-height: 31px;
	}
	.header__submenu {
		margin-top: 10px;
		width: 89vw;
		min-width: auto;
		min-height: 35px;
	}
	.profile-enter__text,
	.profile-enter__input {
		display: none;
	}
	.profile-enter__link {
		margin-right: 23px;
	}
	.cart-info {
		margin-right: -4vw;
	}
	.navigation {
		width: 100vw;
		height: 442px;
		min-width: 480px;
		padding-left: 50px;
		right: 5px;
		background: #7c8384;
	}
	.mob-menu {
		display: block;
	}
	.navigation__mob-menu{
		margin-top: 2px;
		margin-left: -25px;
	}
	.navigation__submenu {
		display: block;
		width: 83vw;
		height: 152px;
		padding-bottom: 5px;
		padding-top: 15px;
		padding-left: 9px;
		margin-left: -24px;
		list-style: none;
		background-color: #ffffff;
		border-radius: 0 10px 10px 10px;
		font-size: 13px;
	}
	.navigation__sub-item {
		display: inline-block;
		padding: 5px 11px;
		font-size: 15px;
		font-style: italic;
	}
	.navigation__sub-item:hover {
		color: #ffde00;
	}
	.navigation__item_mob-active {
		background-color: #ffffff;
		color: #005bc1;
		padding: 10px 20px 0px;
		margin-left: -15px;
		display: inline-block;
		width: 90px;
		border-radius: 15px 15px 0 0;
	}
	.navigation__list {
		width: 90vw;
		flex-direction: column;
		margin-top: 11px;
		font-size: 14px;
	}
	.navigation__item {
		margin-bottom: 12px;
	}
	.content {
		width: 100vw;
		min-width: 480px;
		padding-top: 35px;
	}
	.catalog {
		width: 90vw;
		margin-bottom: -67px;
	}
	.catalog__item{
		margin-bottom: 81px; 
		width: 193px;
		height: 140px;
	}

	.catalog__item:nth-child(2n) {
    	margin-right: 0;
    }
    .catalog__item:nth-child(2n-1) {
		margin-right: 28px;
		margin-left: 3px;
    }
	.catalog__image{
		width: 193px;
		height: 135px;
	}
	.catalog__title {
		font-size: 14px;
		margin-left: -4px;
		width: 219px;
	}
	.catalog-menu {
		display: none;
	}
	.news {
		width: 90vw;
		font-size: 15px;
		line-height: 20px;
	}
	.news__title {
		color: #058b7a;
			font-size: 21px;
			margin-bottom: 18px;
	}
	.news__item {
		line-height: 21px;
	}
	.news__item::after {
	    content: ' ';
	    display: block;
	    width: 90vw;
	}
	.news__date {
		font-size: 13px;
	}
	.text{
		width: 90vw;
		padding-left: 5px;
		font-size: 15px;
	}
	.text__title {
		font-size: 21px;
	}
	.text__paragraph {
		text-align: left;
	}
	.footer {
		width: 100vw;
		min-width: 480px;
	}
	.footer__nav {
		display: none;
	}
}
@media (max-width: 459px) {
	.catalog__title {
		font-size: 12px;
	}
}
@media (max-width: 458px) {
	.header__title {
		font-size: 22px;
	}
	.catalog__item{ 
		width: 185px;
		height: 135px;
	}
	.catalog__image{
		width: 180px;
		height: 135px;
	}
}
@media (max-width: 442px) {
	.navigation {
		height: 545px;
	}
}
@media (max-width: 441px) {
	.profile-enter__link {
		font-size: 12px;
		margin-right: 5px;
	}
}
@media (max-width: 434px) {
	.catalog__item{ 
		width: 175px;
		height: 130px;
	}
	.catalog__image{
		width: 170px;
		height: 125px;
	}
}
@media (max-width: 424px) {
	.header__title {
		font-size: 18px;
	}
	.logo__text {
		width: 100px;	
		font-size: 22px;
	}
	.stat {
    margin-top: 50px;
    margin-left: 77px;
	}
	.footer__copyright {
    width: 130px;
	}
}
@media (max-width: 411px) {
	.catalog__item{ 
		width: 165px;
		height: 120px;
	}
	.catalog__image{
		width: 160px;
		height: 115px;
	}
	.catalog__title {
		font-size: 11px;
	}
	.profile-enter {
		padding: 5px 10px;
	}
	.cart-info {
    padding: 9px 5px;
	}
}
@media (max-width: 401px) {
	
}
@media (max-width: 393px) {
	.logo__img {
    margin-top: 43px;
    margin-left: 25px;
    text-align: left;
	}

	.logo__img img {
		width: 75px;

	}
	.logo__text {
		width: 100px;	
		margin-left: 20px;
		font-size: 20px;
	}
}
@media (max-width: 388px) {
	.catalog__item{ 
		width: 155px;
		height: 110px;
	}
	.catalog__image{
		width: 150px;
		height: 105px;
	}
	.catalog__title {
		font-size: 10px;
	}
}
@media (max-width: 380px) {
	.navigation {
		height: 585px;
	}
}
@media (max-width: 375px) {
	.logo {
		width: 100vw;
	}
	.header__submenu {
		width: 100vw;
	}
	.container {
		width: 100vw;
		min-width: 320px;
		margin: 0 auto;
		padding: 0;
	}
	.logo__img {
    margin-top: 43px;
    margin-left: 35px;
    text-align: left;
	}
	.logo__img img {
		width: 70px;
	}
	.logo__text {
		width: 100px;	
		margin-left: 20px;
		font-size: 20px;
	}
}
@media (max-width: 366px) {
	.catalog__item{ 
		width: 145px;
		height: 100px;
	}
	.catalog__image{
		width: 140px;
		height: 95px;
	}
}
@media (max-width: 360px) {
	.header__title {
		font-size: 19px;	
	}
}
@media (max-width: 344px) {
	.catalog__item{ 
		width: 135px;
		height: 90px;
	}
	.catalog__image{
		width: 130px;
		height: 85px;
	}
	.profile__enter {
		padding-left: 0;
	}
}
@media (max-width: 330px) {
	.cart-info {
		font-size: 12px;
	}
}
@media (max-width: 322px) {
	.catalog__item{ 
		width: 130px;
		height: 85px;
	}
	.catalog__image{
		width: 125px;
		height: 80px;
	}
}