* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Tahoma, sans-serif;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: underline;
}
a:hover {
    color: inherit;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
    font: inherit;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    width: 1000px;
    padding: 0 27px;
    margin: 0 auto;
}
.header {
    min-height: 270px;
    background: url("../images/back.png") repeat;
    color: #e7eeef;
    padding-top: 15px;
    min-width: 1000px;
}
    .header__flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    .header__content {
        position: relative;
        margin-left: 10px;
        width: 725px;
        background: url('../images/background.jpg') no-repeat center;
        background-size: cover;
        border: 1px solid #929292;
        border-radius: 17px;
    }
    .header__info {
        padding: 0 30px;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
    }
    .header__title {
        margin: 11px 0px 0px 288px;
        padding: 10px 30px 15px 30px;
        max-width: 431px;
        min-height: 47px;
        font: italic bold 22px Arial, Tahoma, sans-serif;
        border-radius: 15px 0px 0px 15px;
    }
    .header__contacts {
        position: absolute;
        bottom: 5px;
        margin: 0px 3px;
        padding: 12px 34px 12px 28px;
        width: 383px;
        min-height: 43px;
        display: flex;
        justify-content: space-between;
        border-radius: 0 15px 15px 0;
        }
    .header__email {
        margin-top: 3px;
        width: 50%;
        font-size: 14px;
        text-decoration: none;
    }
    .header__phone {
        margin: 0px 2px 1px 64px;
        width: 50%;
        font: 18px 'Arial Narrow', Arial, Tahoma, sans-serif;
        text-decoration: none;   
    }
    .header__submenu {
        margin-top: 9px;
        width: 943px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
        background: url('../images/submenu.png') repeat-x;
        border: 1px solid #929292;
        border-radius: 17px;
    }
    .header__link {
        font-size: inherit;
    }
    .header__link:hover {
        color: #ffde00;
    }
.logo {
    width: 209px;
    min-height: 201px;
    background: #080808;
    border: 1px solid #929292;
    border-radius: 17px;
}
    .logo__img {
        margin: 42px 0px 0px 63px;
    }
    .logo__text {
        margin: 18px 0px 0px 38px;
        font-size: 24px;
        text-transform: uppercase;
    }
.profile-enter {
    padding: 7px 18px 0px 22px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: Tahoma, sans-serif;
}
    .profile-enter__label {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .profile-enter__text {
        color: #bfbfbf;
        font-size: 12px;
        margin-right: 7px;
    }
    .profile-enter__input {
        margin: 0px 20px -25px 1px;
        width: 116px;
        height: 22px;
    }
    .profile-enter__link {
        margin: 0px 34px 0px -6px;
        font-size: 12px;
        font-weight: bold;
        color: #f6f6f6;
        text-decoration: underline;
        background: transparent;
        border: none;
        cursor: pointer;
    }
.input {
    padding: 0 7px;
    border: none;
    border-radius: 7px;
    color: #000000;
    font-size: 12px;
    background-color: #687072;
}  
    .input_active {
        background: linear-gradient(0deg, rgba(253,255,255,1) 0%, rgba(176,183,184,1) 100%);
    }
.cart-info {
    padding: 13px 27px 13px 29px;
    font-size: 12px;
    color: #fff;
    background: url("../images/cart.png") no-repeat 0px 8px;
}
    .cart-info__counter {
        font-weight: bold;
        font-size: 12px;
    }
    .cart-icon {
        float: left;
        margin: -5px 9px 0px 0px; 
    }
.navigation {
    min-width: 1000px;
    min-height: 48px;
    padding: 15px 0px;
    background: url('../images/top-menu-bg.png') repeat-x;
    background-size: 1% 100%;
}
    .mob-menu{
        display: none;
        color: #fff;
    }
        .mob-menu__btn{
            margin: -8px 2px 0px 0px;
            padding: 10px 15px;
            color: inherit;
            background: transparent;
            border: none;
        }
    .navigation__submenu {
        display: none;
    }
    .navigation__list {
        margin: 1px 0px 0px 3px;
        justify-content: space-between;
        padding: 0 20px;
        color: #fff;
        font-size: 16px;
    }
    .navigation__list_shown {
        display: flex;
        flex-direction: row;
    }
    .navigation__list_hidden {
        display: flex;
        flex-direction: row;
    }
    .navigation__item {
        margin-right: 13px;
    }
    .navigation__item:hover {
        color: #ffde00;
    }
.content {
    min-width: 1000px;  
    padding: 48px 0px;
    background-color: #f6f6f6;
}
.left-column {
    float: left;
    width: 194px;
}
.catalog-menu {
    margin-top: 3px;
    color: #005bc1;
    font-size: 13px;
}
    .catalog-menu__title {
        margin-bottom: 23px;
        color: #c24000;
        font-size: 17px;
        font-weight: bold;
    }
    .catalog-menu__item {
        margin: 0px 0px 16px 2px;
        display: block;
        line-height: 13px;
    }
    .catalog-menu__item:hover {
        color: #549ef1;
    }
.news {
    padding-right: 30px;
    color: #005bc1;
    font-size: 11px;
}
    .news__title {
        margin-top: 73px;
        margin-bottom: 21px;
        margin: 73px 0px 21px;
        color: #058b7a;
        font-size: 17px;
        font-weight: bold;
    }
    .news__item:hover {
        color: #549ef1;
    }
    .news__item::after {
        content: ' ';
        display: block;
        margin-top: 14px;
        width: 138px;
        height: 2px;
        background-color: #dadada;
    }
    .news__item {
        margin-left: 2px;
        padding-bottom: 9px;
        line-height: 16px;
    }
    .news__item:nth-child(7) {
        margin-bottom: 11px;
    }
    .news__item:nth-child(7)::after {
        content: '';
        display: none;
    }
    .news__archive:hover {
        color: #549ef1;
    }
    .news__date {
        margin: 1px 0px -13px;
        padding: 5px 0 12px 0;
        color: #666;
        font-size: 10px;
    }
    .news__archive {
        margin: 30px 0px 0px 2px;
        color: #005bc1;
        font-size: 13px;
    }
.catalog {
    margin: 0px -35px -5px 0px;
    float: right;
    width: 761px;
    padding-top: 6px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
}
.catalog::after {
    display: block;
    content: "";
    clear: both;
}
    .catalog__item {
        margin: 0px 31px 54px 0px;
        width: 220px;
        min-width: 220px;   
    }
    .catalog__title {
        margin: 7px 0px 0px -1px;
        width: 100%;
        color: #005bc1;
        font-size: 15px;
        font-weight: normal;
    }
    .catalog__item:hover .catalog__title {
        color: #549ef1;
    }
    .catalog__image {
        width: 210px;
        height: 145px;
        border: 5px solid #797979;
        box-sizing: content-box;
    }
    .catalog__item:hover .catalog__image {
        border: 5px solid #00b31d;
    }
.text {
    margin-top: 2px;
    float: right;
    width: 726px;
    color: #666;
    font-size: 12px;  
    padding: 0px 2px 0px 4px;
}
    .text__title {
        margin: 0px 0px 18px -6px;
        padding-top: 20px;
        font-weight: bold;
        font-size: 13px;
    }
    .text__paragraph {
        margin: 0px 0px 16px -6px;
        line-height: 16px;
        text-align: justify;
    }
.footer {
    clear: both;
    height: 170px;
    min-width: 1000px;
    padding-top: 19px;
    background: url("../images/back.png") repeat;
}
    .footer__copyright {
        margin: 1px 0px 0px 2px;
        width: 217px;
        color: #a4a4a4;
        font-size: 11px;
        float: left;
    }
    .footer__company {
        margin: 5px 0px 0px -1px;
        font: 12px Tahoma, sans-serif;
    }
    .footer__company_name {
        font-weight: bold;
    }
    .footer-logo {
        margin-top: 10px;
        float: left;
        color: #e7eeef;
        font-size: 9px;
        text-transform: uppercase;
    }
    .footer-logo__img {
        margin: 0px 0px 6px 7px;
        width: 35px;
        height: 28px;
        text-align: center;
    }
    .footer-logo__text {
        margin-left: -2px;
    }
    .footer__nav {
        padding-top: 1px;
        float: left;
        width: 470px;
        font-size: 11px;
        color: #fff;
    }
    .footer__nav-item {
        margin-right: 6px;
        display: inline-block;
    }
    .footer__nav-item:hover {
        color: #ffde00;
    }
    .footer__nav-item::after {
        margin-left: 9px;
        content: "|";
        display: inline-block;
    }
    .footer__nav-item:hover::after {
        color: #fff;
    }
    .footer__nav-item:last-child::after {
        display: none;
    }
.developer {
    float: right;
    color: #fff;
    font-size: 11px;
    padding-top: 1px;
}
    .developer__link:hover {
        color: #ffde00;
    }
.stat {
    margin: 52px 0px 0px 74px;
    width: 88px;
    height: 31px;
}
.logo__letter {
    margin-right: 2px;
}